<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533951211269-kcehu6nnrecbgj095kfogcqchrel5glr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533951211269-kcehu6nnrecbgj095kfogcqchrel5glr</string>
	<key>API_KEY</key>
	<string>AIzaSyCL6atkVSZ9ZlDE4DPyNysE7_yI1vZX9s8</string>
	<key>GCM_SENDER_ID</key>
	<string>533951211269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testapp-8ca5c</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-8ca5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533951211269:ios:dc062476681a8364e3f96c</string>
</dict>
</plist>